body {

    font-family: Arial;
}

h1 {
    text-align: center;
}

.scatter {
    display: flex;
    
}

.selection {
    align-self: center;
}

.circle:hover {
    
    fill: green
}