body {

    font-family: Arial;
}

h1 {
    text-align: center;
}

.scatter {
    display: flex;
    
}

.selection {
    align-self: center;
}

.scatter-point {
    fill: rgb(43, 183, 230);
    position: relative;
}

.scatter-point:hover {
    
    fill: green;
}

.border-point {
    stroke-width: 3px;
    stroke: red;
}

.bar {
    display: flex;
    fill: blue;
    flex-direction: row;
}

.bar:hover {
    fill: orange;
}

.tooltip2{
    position: absolute;
    background-color: gray;
    border: solid;
    padding: 5px;
}
